.wraper-all.search-page{
    background: url("../img/bg.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    min-height: 100vh;
}
.wraper-all.search-page::before{
   background: rgba(0, 0, 0, 0.65);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.top-search{
    margin: 32px 0 112px 0;

}
.search-page .header{
    position: relative;
}
.top-search-form{
    width: 100%;
    background: rgba(255,255,255,.4);
    font-size:16px;
    border: 1px solid #1a1a16;
}
.top-search-form input{
    background: none;
    width:49%;
    border: none;
    color: rgba(0,0,0,.6);
    padding-left:10px;
}
.top-search-form input::-webkit-input-placeholder {color: rgba(0,0,0,.6);}
.top-search-form input::-moz-placeholder          {color: rgba(0,0,0,.6);}/* Firefox 19+ */
.top-search-form input:-moz-placeholder           {color: rgba(0,0,0,.6);}/* Firefox 18- */
.top-search-form input:-ms-input-placeholder      {color: rgba(0,0,0,.6);}

.top-search-form label{
    display: initial;
}

.vertical-center{
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}


        /*LEFT-SEARCH*/

.search-left-wrap{
    background: rgba(0,0,0,.5);
    max-width:225px;
    padding: 25px 20px;
}
.search-left-wrap p{
    color:#fefefe;
    font-size:16px;
    line-height: 21px;
    max-width:150px;
    padding:0 2px;
    margin: 10px auto;
    text-align: center;
}
.search-left-img-wrap{
    text-align: center;
}
.search-left-img-wrap img{
    width: 88px;
    height: 88px;
}
.search-left-details p{
    max-width: 110px;
}
.search-left-details p .posit>span{
    color:#e8ad32;
}
.search-left .search-num input,.search-num button{
    width: 100%;
    height: 38px;
    font-size: 16px;
    margin:5px 0;
    border:none;
}
.search-left .search-num button{
    text-transform: uppercase;
}
.search-num span{
    color:#fefefe;
    font-size:14px;
}

       /*TAB-SEARCH*/

.search-center-BS .nav.search-tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-center-BS .nav.search-tabs li a {
    display: block;
    width: 100px;
    height: 100px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background:#a7a7a7 ;
    font-size: 14px;
    color:#686868;
    padding:0;
    transition: .5s;
}
.search-center-BS .nav.search-tabs li a span{
    width: 100%;
    display: block;
    position: absolute;
    top: 44px;
    left: 0;
    text-align: center;
}
.search-center-BS .nav.search-tabs li a[aria-expanded="true"]{
    background: #e8ae33;
    color:white;
}
.search-center-BS .nav.search-tabs li a[aria-expanded="false"]{
    background:#a7a7a7 ;
    color:#686868;
}
.search-center-BS .nav.search-tabs li.active a{
    background: #e8ae33;
    color:white;
}

 /*TAB-CONTENT*/
.tab-content{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:100px 0;
}
.tab-content .tab-pane{
    min-height: 370px;
}
.search-center-BS .tab-pane p{
    color:#fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

    /*SEARCH CIRCLES*/
.search-center-BS .circle-block{
    margin:0 0 25px 0;
}
.search-center-BS .search-circles-wrap{
    display: flex;
    justify-content: center;
}
.search-center-BS a.search-circle{
    display: block;
    background: #fff;
    border-radius: 50%;
    border:3px solid #72a644;
    position:relative;
    margin:8px 30px;
}
.search-center-BS a.circle-big{
    width:150px;
    height:150px;
}
.search-center-BS a.circle-small{
    width:100px;
    height:100px;
    overflow: hidden;
}
.search-center-BS .search-circle img{
    position: absolute;
}
.search-center-BS .search-circle.circle-big img{
    top: 37px;
    left: 24px;
}
.search-center-BS .search-circle.circle-small img{
    width: 60%;
    top: 21px;
    left: 20px;
}


.search-center-BS .search-circles-wrap span{
    display: block;
    color: white;
    text-align: center;
    color:#fefffe;
    font-size: 18px;
}
.search-center-BS .tab-pane#step-1 .search-circles-wrap span{
    font-size: 30px;
}
.search-center-BS .circle-block:hover a{
    background:#aaca8f;
}
.search-center-BS .circle-block:hover span{
    color:#72a644;
}



.search-matches{
    padding-bottom: 20px;
}
.search-matches-wrap{
    background: rgba(0,0,0,.5) ;
    width: 116px;
    display: flex;
}
.search-matches .search-matches-img-wrap{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding:20px;
    box-sizing: content-box;
}
.search-matches .search-matches-img-wrap span{
    color:white;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height:24px;
}
.search-matches-wrap .match-button{
    background: rgba(0,0,0,.5);
    width: 20px;
    position: relative;
}
.search-matches-wrap .match-button:after{
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    top: 50%;
    right: 50%;
    margin-top: -3px;
    border-bottom: 1px solid #878787;
    border-right: 1px solid #878787;
    /*-webkit-transform: rotate(45deg) translateY(-50%);*/
    /*-ms-transform: rotate(45deg) translateY(-50%);*/
    transform: rotate(-45deg) translateY(0%);
    /*-webkit-transition: all .25s ease;*/
    /*-o-transition: all .25s ease;*/
    transition: all .25s ease;
    /*-webkit-transform-origin: 50% 0;*/
    /*-ms-transform-origin: 50% 0;*/
    transform-origin: 50% 0; }
.search-center-BS #step-3 a.circle-small{
    display: flex;
    justify-content: center;
    align-items: center;
}
#step-3 .circle-small .price-text{
    color:rgba(0,0,0,.6);
    display: block;
    text-align: center;
    font-size: 16px;
    line-height:24px;
}
.search-center-BS #step-3 .circle-block{
    margin: 0 0 35px 0;
}



        /*SELECT2 ANTI-STYLES*/


.top-search-form.select2-container--default .select2-selection--single{
    background: none;
    border: none;
    border-radius: 0;
}
.select2-container--default .select2-selection--single {
    background:transparent;
    border-color: #1a1a16 ;
    border-width:  0 0 0 1px;
    border-style:solid;
    border-radius: 0; }

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(0,0,0,.6);
    font-size: 16px;
    line-height: 38px;
    display: block;
    text-align: left;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: rgba(0,0,0,.6);
    line-height: 28px; }
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd; }

.top-search .top-search-form .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d0fda8;
    color: white; }
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle; }
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none; }
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 15px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
.select2-container .select2-selection--single .select2-selection__clear {
    position: relative; }
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color:#1a1a16 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0; }











